:root {
    --color-primary: #009689;

    --color-primary-light: #93c9c3;
    /* Azul primario */
    --color-primary-dark: #007f6b;
    /* Azul oscuro */
    --color-secondary: #3c826e;
    /* Azul secundario */
    --color-tertiary: #df3f3f;
    --color-tertiary-light: #f8cfcf;
    /* Azul terciario */
    --color-text-dark: #101828;
    /* Gris oscuro para texto */
    /* Gris claro para texto */
    --color-text-light: #a9a8a8;

    --color-warning: #e9cd2a;   

    --bg-cards: #eeeef0b5;

    --bg-cirlce: #a6c3f1;
    --bg-light: #ffffffd9;
    --btn-hover: #0b67fb;
    --bg-footer: #48494a;


    --white: #ffffff;
    --white-half: #ffffff80;
    --black: #000000;

    --boder: #ead8d8;
}

/* Estilos de cuerpo para utilizar las variables */
body {
    background: var(--white);
    color: var(--color-text-dark);
    font-family: Arial, Helvetica, sans-serif;
}